[PATHS]
# Path to the temporary working directory used by the
# Plex New Transcoder. This path is obtained from the appropriate Plex
# registry key. The transcode_path can be modified from the Plex web
# interface, under Settings -> Server -> General -> Advanced.
transcode_path='/transcode'

# Path to the log root directory
# Logging level {DEBUG, INFO, WARNING, ERROR}
log_dir='/logs'
log_level='DEBUG'

[TIDY]
# Disk full threshold The limit which must be exceeded before garbage collection begins.
# This threshold is measured in units out of 1000. The default is 700, which
# corresponds to a disk that is 70.0% full. The user may adjust this attribute
# manually, or via command prompt with option '--threshold'. Reasonable values
# are between 500 and 900. A higher threshold value requires a lower interval
# (more frequent disk	checks) to prevent the disk from filling.
threshold=700

# The file extension used for transcoded segments.
extension='.ts'

# Period in seconds between disk threshold checks. The default
# interval is 60 seconds. Higher quality source media and a smaller disk size
# require more frequent threshold checks. A higher disk threshold (speficied
# by the user) will also require more frequent checks. The user may adjust this
# attribute manually, or via command prompt with option '--interval'.
# CAUTION: Forcing a low interval may negatively impact performance. The interval
# attribute should not be set to less than 30 seconds.#
interval=60